/* .hidden {
    display: none
}

input[type='submit'] {
    display:block;
    margin:auto;
}

#currentQuestion {
    width: 33%;
    height: auto;
    padding: 10px;
    display: block;
    margin: auto;
}
#numQuestion {
    width: 80%;
    height: fit-content;
    padding: 10px;
    display: block;
    margin: auto;
} */